
body.light {
  background-color: #f5f5f5;
  color: #222;
  transition: background 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #eee;
  transition: background 0.3s ease;
}

.todo-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.todo-container.light {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.todo-container.dark {
  background: #1e1e1e;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}


h1 {
  text-align: center;
  color: inherit;
}


.input-section,
.search-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-right: 10px;
  background: inherit;
  color: inherit;
  outline: none;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

.edit-btn {
  background: #ffc107;
  margin-right: 8px;
}

.delete-btn {
  background: #dc3545;
  color: white;
  
}


.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.dark .todo-item {
  background: #2b2b2b;
  border-color: #444;
}

.no-todos {
  text-align: center;
  color: #888;
  display: none;
}


.theme-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}


.label.small {
  height: 26px;
  width: 52px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: inset 0 0 5px 3px rgba(255, 255, 255, 1),
    inset 0 0 10px 1px rgba(0, 0, 0, 0.3),
    5px 10px 20px rgba(0, 0, 0, 0.1),
    inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.label.small::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #000;
  left: 5px;
  transition: 0.3s;
}

#checkbox {
  display: none;
}

#checkbox:checked + .label.small::before {
  left: 29px;
  background-color: #fff;
}

#checkbox:checked + .label.small {
  background: #000;
}

img{
    
    width: 80px;
    height: 40px;
}


.logo{
    display: flex;
    align-items: center;
    
}
#checkbox:checked + img::before {
  background-color: #fff;
}


#checkbox:checked + image {
  color: #fff;
  
}
